/test/amd/index.js
/test/commonjs/exports/index.js
/test/commonjs/module.exports/index.js
/test/commonjs/require/index.js
/test/es2015/index.js
/test/exceptions/index.js
/test/fantasy-land/index.js
/test/line-endings/CR+LF.js
/test/line-endings/CR.js
/test/shared/index.js
/test/transcribe/index.js
